@import "variables.scss";

body {
    background-color: $bg-color;
    background-image: url("assets/textures/diamond.png");
    background-repeat: repeat;
    background-blend-mode: color-burn;
    font-family: "Frozen", "Segoe UI", sans-serif;
    overflow-x: hidden;
    margin: auto;

    max-width: 700px;
    min-height: 100dvh;
    background-size: 70px;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $en;
    }

    .snow_container {
        position: absolute;
        pointer-events: none;
        overflow: hidden;

        z-index: 10;
        top: -10px;
        left: 0;
        width: 100vw;
        height: 100dvh;

        .snow_flake {
            background-color: #fff;
            position: absolute;

            width: 5px;
            height: 5px;
            border-radius: 50%;
            animation: snow_fall linear infinite;
        }

        @keyframes snow_fall {
            0% {
                transform: translateY(-10vh);
            }

            100% {
                transform: translateY(110vh);
            }
        }
    }

    .banner_container {
        position: relative;
        display: flex;
        justify-content: center;
        width: fit-content;
        margin: auto;
        overflow: hidden;

        width: 100%;
        height: 180px;
        margin-bottom: 30px;
        border-radius: 0 0 20px 20px;

        img {
            object-fit: cover;
            object-position: top;

            width: 100%;
            max-width: 700px;
        }

        div {
            position: absolute;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #f8f8ff;

            left: 40px;
            top: 50%;
            font-size: 2rem;

            text-shadow: -2px 2px 2px #0000007e;
            transform: translateY(-50%);
        }
    }

    .texts {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        margin: auto;
        max-width: 500px;
        gap: 5px;

        h1 {
            font-size: 1.7rem;
        }

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 90vw;
            max-width: 400px;
            margin: 20px;
            gap: 10px;

            hr {
                border-color: #000;

                width: 100%;
                opacity: .1;
            }

            .img_container {
                display: flex;
                justify-content: center;
                overflow: hidden;

                width: 70%;
                border-radius: 30px;

                img {
                    width: 100%;
                    transition-duration: .3s;
                }

                &:hover {
                    img {
                        transform: scale(1.05);
                    }
                }
            }
        }

        h5 {
            font-size: 1.3rem;
        }

        p {
            padding: 0 20px;
        }
    }

    .btns {
        display: flex;
        flex-direction: column;

        max-width: 500px;
        margin: 20px auto;
        padding: 20px;
        gap: 10px;

        button {
            border: none;
            outline: none;
            cursor: pointer;
            font-family: "Frozen", "Segoe UI", sans-serif;
            background-image: url("assets/textures/shattered.png");
            background-size: 100px;
            background-color: $en;
            color: #fff;

            transition-duration: .3s;
            font-size: 1.2rem;
            padding: 10px 15px;
            border-radius: 10px;

            &:hover {
                filter: brightness(.8);
            }
        }
    }
}